/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}


@keyframes changeBackgroundColor {
  0% {
    color: black;
  }
  20% {
    color: #e48080;
  }
  40% {
    color: #ffced2;
  }
  60% {
    color: #88caca;
  }
  80% {
    color: #b58bc7;
  }
  100% {
    color: black;
  }
}

@font-face {
  font-family: Avenir-bold;
  src: url(../fonts/AvenirNextLTPro-Bold.otf);
}

@font-face {
  font-family: Avenir-regular;
  src: url(../fonts/AvenirNextLTPro-Regular.otf);
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {
    font-size: 11px;
  }
}

/* Base */
html {
  scroll-behavior: smooth;
}

body {
  font: 400 1rem "Avenir-regular";
  color: var(--text-color);
  background: var(--body-color);
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

/* Variaveis */
:root {
  --header-height: 4.5rem;

  /* color */
  --hue: 290;
  /* HSL color mode */
  
  --title-color: hsl(var(--hue) 41% 10%);
  --text-color: hsl(0 0% 46%);
  --text-color-light: hsl(0 0% 98%);
  --body-color: hsl(0 0% 98%);
  --pink: rgb(245, 160, 174);

  /* Fonts */
  --title-font-size: 1.875rem;
  --subtitle-font-size: 1rem;
}

/* Layout */
.container {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.grid {
  display: grid;
  gap: 2rem;
}

.section {
  padding: calc(5rem + var(--header-height)) 0;
}

.section .title {
  margin-bottom: 1rem;
}

.section .subtitle {
  font-size: var(--title-font-size);
}

.section header {
  margin-bottom: 4rem;
}

/* Layout */
#header {
  border-bottom: 1px solid #e4e4e4;
  margin-bottom: 2rem;
  display: flex;

  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: var(--body-color);
}

#header.scroll {
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.2);
}

/* Back to top */
.back-to-top {
  background: rgb(0 0 0 / 7%);

  position: fixed;
  right: 1rem;
  bottom: 1rem;

  padding: 1rem;
  clip-path: circle();

  font-size: 1.5rem;
  line-height: 0;

  visibility: hidden;
  opacity: 0;

  transition: 0.3s;
  transform: translateY(100%);
}

.back-to-top:hover {
  background-color: rgba(0, 0, 0, 0.233);
}

.back-to-top.show {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}